body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: saddlebrown;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 26px;
  color: #fff;
  position: relative;
  padding: 25px 0 25px 25px;
  font-weight: 600px;
  margin-right: 70px;
}

.img {
  height: 220px;
  width: 220px;
  size: 50px;
  margin-left: -25px;
}

.npm a {
  font-size: 16px;
  margin-left: 15px;
}

.navbar ul {
  list-style-type: none;
  background-color: saddlebrown;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  height: 40px;
  margin-top: 20px;
  font-weight: 1000;
  font-size: 20px;
}

.navbar li {
  float: right;
  margin-right: 100px;
}
.cards {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  gap: -20px;
  padding-left: 190px;
}
.newcard {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  margin-bottom: 40px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  margin-left: 200px;
  margin-top: 100px;
  /* display: inline-block; */
  /* display: flex; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

ul li ul.dropdown{
  display: block;
   width: 200px;
  background: gray;
  position: absolute;
  display: none;
}

ul li a:hover {
  background-color: #000021;
  color: white;
}

ul li:hover .dropdown {
  display: block;
}
