* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.wrapper {
<<<<<<< HEAD
  width: 420px;
  background-color: #000;
=======
  width: 440px;
  background-color: pink;
>>>>>>> b2a42cbdd10ed8e2db46a13a6ab9204436a7e1a2
  color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #333;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px;
}

.register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}
img {
  /* height: 220px; */
  width: 220px;
  size: 50px;
  margin-left: -75px;
  margin-bottom: 20%;
}
.imgs {
  /* height: 220px; */
  /* width: 100px; */
  size: 50px;
  margin-left: 30px;
  margin-top: -200px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
